<div>
    <input type="text" value="Title" ng-model="spending.title">
    <input type="text" value="Date" ng-model="spending.date">
    <input type="text" value="Amount" ng-model="spending.amount">
    <button ng-click="spendingController.addSpending(spending)">Add Spending</button>
    <table class="table">
        <tr>
            <th>title</th>
            <th>date</th>
            <th>amount</th>
            <th>impact</th>
        </tr>
        <tr ng-repeat="spending in spendingController.spendings">
            <td>{{spending.title}}</td>
            <td>{{spending.date}}</td>
            <td>{{spending.amount}}</td>
            <td>
                <spending-impact value="{{spending.impact}}">
                    <span class="glyphicon glyphicon-star"></span>
                </spending-impact>
            </td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="spendingController.increaseImpact(spending)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button class="btn btn-default" ng-click="spendingController.decreaseImpact(spending)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="spendingController.removeSpending(spending)">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </div>
            </td>
        </tr>
    </table>
</div>